#content {
  position: relative;
  margin: 0 auto;
  padding: 30px 30px 0;
  height: 80dvh;
}

#main {
  position: relative;
  height: 80dvh;
}

#concert_date {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 130px;
  text-align: center;
  margin-top: -10px;
}

#concert_title_box {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 850px;
  font-family: "Ralphie";
  margin-top: 2.5%;
}

#concert_rv_date {
  font-size: 28px;
  width: fit-content;
  height: fit-content;
  margin-top: 120px;
  margin-left: 20px;
}

#available {
  margin-bottom: -10px;
}

#time {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

#time span {
  font-size: 25px;
}

#concert_title {
  font-size: 70px;
  letter-spacing: 0.3rem;
  width: fit-content;
  margin-right: 25px;
}

h4 {
  width: 96dvw;
  text-align: center;
  font-size: 225px;
  letter-spacing: 1.1rem;
  position: absolute;
  bottom: -30px;
}

#circle {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

#circle img {
  width: 100%;
  height: 100%;
}

aside {
  position: absolute;
  top: 30dvh;
  left: 50%;
  width: 500px;
  transform: translateX(-65%);
}