#main_wrapper {
  background-color: #333;
  width: 90dvw;
  height: 71dvh;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 40px;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

h2 {
  letter-spacing: 0.4rem;
  font-size: 40px;
  text-align: center;
  padding: 30px 0;
  color: #fff;
}

h3 {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  color: #dcdcdc;
  margin-top: 50px;
}

.list_title {
  font-size: 25px;
  padding: 20px;
  border-bottom: 1px solid #fff;
}

.list_title span {
  margin-bottom: 20px;
  font-weight: bold;
}

.list_title span:not(.info_small, .info_tiny):hover {
  color: #d36d78;
  cursor: pointer;
  transition: 0.3s;
}

.info-content {
  background-color: #fff;
  color: #333;
  /* display: none; */
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  box-sizing: content-box;
  line-height: 150%;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.info-content.show {
  display: block;
  opacity: 1;
}

.info-content.hide {
  opacity: 0;
  transition: opacity 0.1s ease-out; /* Faster transition for hiding */
}

.info-title {
  transition: color 0.3s ease-out;
}

.info_tiny{
  font-size: 14px;
  color: #6c6969;
  color: #d36d78;
}