#main_wrapper {
  background-color: #333;
  width: 90dvw;
  height: 71dvh;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  letter-spacing: 0.4rem;
  font-size: 80px;
  text-align: center;
  padding-top: 30px;
}

h3 {
  font-family: "Abril Fatface", serif;
  font-size: 50px;
  text-align: center;
  margin-top: -20px;
}

#join_form {
  margin-top: 4%;
}

#pay_in:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#pay_in:disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
}


#pay_modal_wrapper {
  width: 100dvw;
  height: 100dvh;
  background-color: #000000a0;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#pay_modal_wrapper.active {
  opacity: 1;
  pointer-events: auto;
}

#pay_modal_wrapper .logo {
  margin: 3.5dvh 0 1dvh;
}

#pay_modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30dvw;
  height: 65dvh;
  z-index: 100000
}

.close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close:hover {
  cursor: pointer;
}

.close svg path {
  transition: fill 0.3s, stroke 0.3s;
  fill: #d36d78;
}

.close:hover svg path {
  fill: #333;
}

.close svg {
  width: 100%;
  height: 100%;
}

#pay_modal h2{
  font-size: 30px;
  font-family: "Pretendard-Regular";
  color: #333;
  margin:20px;
}

#pay_form {
  color: #333;
  width: fit-content;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
}

#agreement{
  padding: 10px;
  width: 350px;
  height: 280px;
  overflow-y: scroll;
  border: 1.5px solid #333;
  font-family: "Pretendard-Regular";
  font-size: 15px;
  margin-bottom: 10px;
}

#pay_form div {
  display: flex;
}

#check_wrapper{
  display: flex;  
  flex-direction: row;
  justify-content: flex-start;
}

#check_wrapper input{
  width: 20px;
  height: 20px;
}

#check_wrapper label{
  font-size: 15px;
  text-indent: 7px;
  margin-top: 1px;
}

#pay {
  margin: 10% auto 0;
  font-size: 20px;
  color: #ffffff;
  background-color: #d36d78;
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
  text-align: center;
}


#pay:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
