{% load static %}

<div id="pay_modal_wrapper">
    <div id="pay_modal">
      <div class="close">
        <svg
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.2668 28L45.9668 13.3C46.9002 12.3666 46.9002 10.9666 45.9668 10.0333C45.0335 9.09998 43.6335 9.09998 42.7002 10.0333L28.0002 24.7333L13.3002 10.0333C12.3668 9.09998 10.9668 9.09998 10.0335 10.0333C9.10016 10.9666 9.10016 12.3666 10.0335 13.3L24.7335 28L10.0335 42.7C9.56683 43.1666 9.3335 43.6333 9.3335 44.3333C9.3335 45.7333 10.2668 46.6666 11.6668 46.6666C12.3668 46.6666 12.8335 46.4333 13.3002 45.9666L28.0002 31.2666L42.7002 45.9666C43.1668 46.4333 43.6335 46.6666 44.3335 46.6666C45.0335 46.6666 45.5002 46.4333 45.9668 45.9666C46.9002 45.0333 46.9002 43.6333 45.9668 42.7L31.2668 28Z"
            fill="white"
          />
        </svg>
      </div>
      <div id="pay_form">
        <h2 id="pay_title">결제 확인</h2>
        <form action="#" method="post">
          <p id="agreement">
            제 1 장 [총 칙]<br>
            <br>
            제 1 조 (목적)<br>
            이 약관은 "회사"가 "고객사" 에게 제공하는 "서비스"의 이용조건 및 절차에 관한 사항을 규정하는데 있습니다.<br>
            <br>
            제 2 조 (용어의 정의)<br>
            이 약관에 공통적으로 적용되는 용어의 정의는 다음과 같습니다.<br>
            <br>
            ① 서비스: "고객사"가 전자적 방법으로 "이용자"에게 "상품"을 판매하거나 제공할 때 "이용자"가 "결제기관"으로부터 발급받은 "결제수단"을 "회사"와 "결제기관"과의 계약 등에 따라 "회사"가 제공하는 시스템을 이용하여 사용·조회·관리할 수 있도록 하고, "결제정보"를 송·수신하거나 "거래승인"·"매입"·"대금정산"을 대행하거나 매개하는 행위 또는 이에 관련된 행위 일체를 말하며, 다음 각 호의 서비스 및 기타 부가서비스를 포함합니다.<br>
            <br>
            전자지급결제대행서비스: 전자적 방법으로 "상품"의 구매 또는 이용에 있어서 "결제정보"를 송·수신하는 것, "거래승인"·"매입"·"대금정산"을 대행하거나 매개하는 서비스를 말합니다.<br>
            간편결제서비스: "고객"이 "결제기관"으로부터 발급받은 "결제수단"을 "회사"의 시스템에 사전 등록하는 등의 방법으로 사용·조회·관리할 수 있도록 하는 서비스 또는 이와 관련된 서비스 일체를 말합니다.<br>
            결제운영 관리서비스: "회사"가 "고객사"에게 제공하는 결제CS, 관리자시스템, 기술지원, 서비스 운영지원 등 결제운영 관련 관리서비스를 말합니다.<br>
            특약서비스: "고객사"와 별도 합의하여 제공하는 서비스를 말합니다.<br>
            현금영수증 서비스 : 계좌이체 서비스 · 가상계좌 서비스 등 이 계약에 의거하여 "고객사" 또는 "이용자"의 요청에 따라 현금성 결제내역을 국세청에 전송함으로써 "고객사"의 현금거래전용 영수증 발급을 대행하는 서비스를 말합니다.<br>
            <br>
            ② 결제기관: "이용자"가 "회사"의 "서비스"를 통하여 "결제수단"별로 "결제승인"을 요청한 사항에 대하여 "거래승인" 여부를 결정하는 기관(신용카드사, 은행, 통신과금사업자, 이동통신사, 상품권발행업자, 간편결제사 등)을 말합니다.<br>
            <br>
            ③ 결제수단: "상품"을 구매하기 위해 "이용자"가 이용하고자 하는 신용카드, 계좌이체, 가상계좌, 휴대폰결제, 상품권 등의 지불방법을 말하고, 이 계약의 "결제수단"은 상점관리자 또는 별도 서비스 "수수료"율 표에 명시되며, "회사"의 정책에 따라 추가, 변경될 수 있습니다.<br>
            <br>
            ④ 해외신용카드: "해외신용카드" 라 함은 해외 신용카드 발급사에서 발행된 신용카드를 말합니다.<br>
            <br>
            ⑤ 결제정보: "이용자"가 "상품" 구매를 위하여 "회사"의 "서비스"를 통해 제공하는 "결제수단"의 세부 정보를 말합니다.<br>
            <br>
            ⑥ 거래승인: "결제기관"이 "이용자"가 제공한 "결제정보"가 "결제기관"에 등록된 정보와 일치함을 확인하고 해당 "결제수단"의 결제능력을 확인하는 행위를 말합니다.<br>
            <br>
            ⑦ 매입: "결제기관"의 "거래승인"을 얻은 "상품" 판매 건의 대금 결제를 위하여 "회사"가 "고객사"를 대행하여 "결제기관" 등에게 그 대금의 지급을 청구하는 행위를 말합니다.<br>
            <br>
            ⑧ 대금정산: "회사"의 "서비스"를 이용하여 발생한 거래에 대하여 "회사"가 "결제기관" 등으로부터 결제금액을 지급받고, 해당 결제금액에서 "회사"와 "고객사"가 상호 약정한 제반 "수수료" 등을 공제한 후 "고객사"에게 지급하는 행위를 말합니다.<br>
            <br>
            ⑨ 이용자: "고객사"가 운영하는 "쇼핑몰"에서 "회사"의 "서비스"를 이용하여 "상품"을 구매하고자 하는 자를 말합니다.<br>
            <br>
            ⑩ 상품: "고객사"가 "회사"의 "서비스"를 이용하여 "이용자"에게 판매하고자 하는 유, 무형의 재화 또는 서비스 등을 말합니다.<br>
            <br>
            ⑪ 쇼핑몰: "고객사"가 컴퓨터 등과 정보통신설비를 이용하여 "상품"을 거래할 수 있도록 설정된 가상의 영업장 또는 사업장을 말합니다.<br>
            <br>
            ⑫ 접근매체: "회사"의 "서비스"를 이용하여 "상품"을 구매함에 있어 거래지시를 하거나 "이용자" 및 거래내용의 진실성과 정확성을 확보하기 위하여 사용되는 수단 또는 정보로서 "이용자"의 인증서, 전화번호, 결제비밀번호, 단말기, 아이디, 비밀번호 등을 말합니다.<br>
            <br>
            ⑬ 비정상거래: "결제수단"의 본인 미사용(분실, 도난, 허위발급, 도용, 위조, 변조 등을 포함합니다) 등 "결제수단"을 부정사용하여 이루어진 거래와, 실제 "상품"의 구매없이 "상품" 구매를 가장하여 자금을 융통하기 위해 이루어진 거래 등을 말합니다.<br>
            <br>
            ⑭ 거래정보: 여신전문금융업법, 전자금융거래법 등에 따른 "이용자"의 인적 사항, 계좌, "접근매체", 배송내역, 수령증 등 전자금융거래의 내용과 실적에 관한 정보 또는 자료를 말합니다.<br>
            <br>
            ⑮ 월 지급한도액: "회사"가 "고객사"에게 매월 지급하는 "대금정산" 금액의 한도금액을 말합니다. "회사"는 "고객사"가 "회사"에게 제출한 이행보증보험증권상의 보험가입금액 또는 기타 담보설정증서를 통한 담보금액과 동일한 금액으로 이를 설정할 수 있습니다.<br>
            <br>
            ⑯ 수수료: "고객사"가 "서비스" 이용 대가로 "회사"에 지급하는 금액을 말하며, 결제"수수료", 등록비, 연회비 등이 포함됩니다.<br>
            <br>
            ⑰ 프로모션: "회사"와 "고객사"가 "고객사"의 "이용자" 중 신용카드를 이용하는 회원(이하 "회원")에게 제공되는 신용카드 결제금액 할인으로, "회원"이 고객사"에서 신용카드 결제 시, 토스페이먼츠 전자결제서비스 결제창 화면에서 특정 금액을 할인해주어 실제로 "회원"이 결제하는 금액이 줄어드는 "신용카드 즉시할인"과, 토스페이먼츠 전자결제서비스 결제창 화면에서는 원 금액으로 결제하지만, "회원"의 신용카드 청구서 상에서 할인된 금액이 청구되는 "신용카드 청구할인"으로 구성됩니다.<br>
            <br>
            제 3 조 (약관 외 준칙)<br>
            ① 이 약관에 정하지 아니한 사항 및 이 약관상 문구의 해석에 관해서는 관련 법령, 신용카드 가맹점 규약, 전자상거래 표준약관, 이 약관에 우선하는 특약 또는 부칙(신청서 포함), "결제기관" 또는 "회사"의 정책 및 상관례에 따릅니다.<br>
            <br>
            ② 체크카드와 직불카드에 관하여, 그 성질에 반하거나 명시적으로 분리하여 정하지 않는 한 이 약관 및 특약, 부칙 기타 관련 계약서 상 신용카드에 관한 규정이 동일하게 적용됩니다.<br>
            <br>
            ③ "회사"는 개별 "서비스" 별로 별도의 이용약관 및 정책(이하 "개별 약관 등")을 둘 수 있으며, 해당 내용이 이 계약과 상충할 경우에는 "개별 약관 등"이 우선하여 적용됩니다.<br>
            <br>
            ④ 이 약관과 관련하여 "회사"의 정책 변경, 관련 법령의 제/개정 또는 공공기관의 고시나 지침 등에 의하여 "회사"가 "서비스" 또는 상점관리자의 화면 등을 통해 공지하는 내용도 이 약관의 일부를 구성합니다.<br>
            <br>
            제 4 조 (약관의 명시 및 효력변경)<br>
            ① "회사"는 이 약관의 내용을 "고객사"가 쉽게 알 수 있도록 "서비스"또는 상점관리자의 화면 내 또는 링크로 연결된 화면에 게시합니다.<br>
            <br>
            ② "회사"는 약관의 규제에 관한 법률, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관련 법령을 위반하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br>
            <br>
            ③ "회사"가 이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 제1항의 방식에 따라 그 개정약관을 적용일자 7일 전부터 공지합니다. 다만, "고객사"에 불리하거나 중요한 사항을 변경하는 경우에는 적용일자 30일 이전에 공지하며, 공지 외에 제5조에 따라 전자적 수단을 통해 별도로 통지합니다.<br>
            <br>
            ④ "회사"가 "고객사"가 명시적으로 거부의사를 표명하지 않으면 개정약관에 동의한 것으로 본다는 뜻을 전항의 방식에 따라 공지 또는 통지하였음에도, "고객사"가 개정약관 적용일자 전까지 명시적으로 거부의사를 표명하지 아니한 경우 "고객사"는 개정약관에 동의한 것으로 봅니다.<br>

          </p>
          <div id="check_wrapper">
            <input type="checkbox" id="check" name="check" required />
            <label for="check">결제에 동의하시면 체크를 눌러주세요</label>
          </div>
          <div>
            <button id="pay" data-reservationcheck-url="{% url 'reservationcheck' %}">결제</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const payButton = document.getElementById('pay');
    
    payButton.addEventListener('click', function() {
        if (document.getElementById('check').checked) {
            createPayment();
        } else {
            alert('결제에 동의해주세요.');
        }
    });

    function createPayment() {
      fetch('/create-payment/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCookie('csrftoken')
          },
          body: JSON.stringify({})
      })
      .then(response => response.json())
      .then(data => {
          if (data.success) {
              alert("결제가 완료되었습니다");
              // Optionally redirect or perform other actions
          } else {
              alert(data.error || '결제 중 오류가 발생했습니다.');
          }
      })
      .catch(error => {
          console.error('Error:', error);
          alert('결제 중 오류가 발생했습니다.');
      });
  }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});
</script>